.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section h1 {
    margin: auto;
    margin-top: 10rem;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0;
}
.section h2 {
    margin: auto;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 300;
}